
*.log
*.log
Proyecto-Gnomos/Logs/AssetImportWorker0.log
Proyecto-Gnomos/Logs/AssetImportWorker1.log
Proyecto-Gnomos/Logs/shadercompiler-AssetImportWorker0.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Proyecto-Gnomos/Logs/shadercompiler-UnityShaderCompiler.exe7.log
*.dwlt
*.dwlt
